.navbar{
    display: grid;
    grid-template-columns: 100px 150px auto 100px 120px 130px 190px 150px 80px;
    text-align: center;
    /* border: 1px solid red; */
    padding: 10px 10px;
}
.navbar a{
    border-right: 1px solid rgb(104, 104, 104);
    margin-top: 55px;
    height: 20px;
    color: rgb(104, 104, 104);
}
.navbar a:nth-child(7){
    color: #D8A235;
}
.navbar a:nth-child(8){
    border: none;
}
.navbar a{
    text-decoration: none;
}
.a:hover{
    color: rgb(145, 145, 145);
    /* box-shadow: 0px 1px 5px rgb(145, 145, 145); */
}
.head{
    display: grid;
    grid-template-rows: auto 40% auto;
    text-align: center;
    font-size: 20px;
    color:white;
    background-image: url(img/head.png);
    background-size:cover;
    height:350px;
    width: 100%;
}
.grid-container{
    display: grid;
    grid-template-columns: 270px auto 270px;
    padding-bottom: 80px;
}
.grid-rows{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-row-gap: 40px;
}
.img-text{
    display: grid;
    grid-template-columns: 250px auto;
    box-shadow: 0 0 5px rgb(196, 196, 196);
    padding: 25px;
    border-radius: 4px;
}
.img-text p{
    letter-spacing: 1px;
    margin-left: 30px;
    color: rgb(104, 104, 104);
}
.img-text h3{
    margin-left: 30px;
    color: rgb(36, 36, 36);
}
.img-text h5{
    margin-left: 30px;
    color: #D8A235;
    margin-top: -2px;
    cursor: pointer;
}
.img-text h5:hover{
    color: rgb(236, 182, 81);
}
.pad-text{
    margin-top: -15px;
}
.image{
    cursor: pointer;
}
.image2{
    width: 250px;
    height: 90%;
    cursor: pointer;
}
.pad-text2{
    margin-top: -15px;
    /* margin-left: 30px; */
}
.last-row{
    display: grid;
    grid-template-columns: auto 200px;
}
.numbers{
    display: grid;
    grid-template-columns: auto auto auto auto;
    box-shadow: 0 0 5px rgb(196, 196, 196);
    text-align: center;
    height: 30px;
    border-radius: 4px;
    /* padding-bottom: 10px; */
}
.numbers p{
    border-right: 1px solid rgb(196, 196, 196);
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: -0px;
    height: 25px;
    cursor: pointer;
    font-size: 20px;
}
.numbers p:first-of-type{
    color: #303433;
}
.num2{
    color: rgba(48, 52, 51, 0.5);
}
.numbers p:nth-child(4){
    border-right: none;
}
.footer{
    display: grid;
    grid-template-columns: 100px auto 200px 200px 100px;
    background: rgb(204, 203, 203);
    padding: 50px 0;
    box-shadow: inset 0px 6px 20px #686868;
    
}
.footerp1{
    color: rgb(88, 88, 88);
    /* border: 1px solid black; */
    padding-bottom: 15px;
    font-size: 15px;
}
.icon{
    padding-top: 50px;
}
.iconi{
    border: 1px solid black;
    border-radius: 50%;
    padding: 8px;
    margin-left: 3px;
}
.facebook{
    border: 1px solid black;
    border-radius: 50%;
    padding: 8px 12px;
    margin-left: 3px;
}
.google{
    border: 1px solid black;
    border-radius: 50%;
    padding: 8px 5px;
    margin-left: 3px;
}
.footerp2{
    color: grey;
}
.shadow-right{
    border: 1px solid rgb(204, 203, 203);
    margin-left: 100%;
    box-shadow: 0px -6px  15px rgb(204, 203, 203);
}
